.form-group label{
  margin-right: 20px;
}
.submit-btn {
 margin: 10px 0;
}

.goBack-btn {
  float: right;
}

.addWorker-btn {
  margin-left: 10px;
}

select {
  width: 250px;
  height: 40px;
  padding: 10px;
  margin-left: 10px;
}

.container {
  position: relative;
}

.alert {
  position: absolute;
  right: 267px;
  top: 43px;
  width: 248px;
  height: 18px;
  color: rgba(169, 68, 66, 0.78);
  background-color: rgba(190, 66, 65, 0.36);
  border-radius: 3px;
  padding: 10px;
  line-height: 18px;
}

table.submitted-info {
  width: 400px;
  border-collapse: collapse;
}

table.submitted-info td {
  border: 1px solid #d7d7d7;
  padding: 15px;
}

table.submitted-info td.input-response:hover {
  background-color: rgba(236, 236, 236, 0.7);
}


