.center-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.center-container label {
  text-transform: uppercase;
}

.main-header {
  text-align: center;
  text-transform: uppercase;
}
