.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.center-container label {
  text-transform: uppercase;
}

.center-container input {
  margin-left: 10px;
}

.main-header {
  text-align: center;
  text-transform: uppercase;
}

