input {
  margin: 0 auto;
  margin-bottom: 10px;
  padding: 5px 10px;
  width: 250px;
  height: 30px;
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

select {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  font-family: 'Roboto', sans-serif;
  font-size: 15px;
}

input:focus, select:focus {
  border: 1px solid #0080ff;
  box-shadow: 0 0 3px 0 #0080ff;
}

button {
  outline: none;
  border: 1px solid #cccccc;
  border-radius: 4px;
  min-height: 30px;
  padding: 10px;
  text-transform: uppercase;
}

button:hover {
  background-color: rgba(214, 214, 214, 0.66);
}
